{% csrf_token %}
<head>
<title>
test page
</title>
<script>

var max_req = 30;

function showUser(m) {
  var c = document.getElementById("name");
  c.innerText = "Username in Telegram: " + m;
}

async function subscribe() {
  max_req--;

  let response = await fetch("/zorro_test_bot/ws/", {
    method: "POST",
    headers: {'X-CSRFToken': "{{ csrf }}" },
    body: JSON.stringify({ token: "{{ token }}" }),
  });

  if (response.status == 502) {
    if (max_req)
      await subscribe();
  } else if (response.status != 200 && response.status != 500) {
    await new Promise(resolve => setTimeout(resolve, 1000));
    if (max_req)
      await subscribe();
  } else {
    let message = await response.text();
    showUser(message);
    var l = document.getElementById("link");
    l.innerHTML="<a href='/admin/?username='" + message + "'>Login</a>"
  }
}

subscribe();

</script>
</head>
<body>
   <form action="https://t.me/zorro_test_bot" method="POST">
     <input type="hidden" name="start" value="{{ token }}">
     <input type="submit" value="Войти через Telegram">
   </form>
   <div id="name"></div>
   <div id="link"></div>
</body>
